//////////NAVIGATION///////////

nav {

    ul {
        list-style: none;
        @include flex-center;

        gap: 2rem li {
            a {
                text-decoration: none;
                color: white;
                font-weight: bold;

                &:hover {
                    color: darken(white, 20%);
                }
            }
        }
    }

    //Responsiv meny
    @include mobile {
        ul {
            flex-direction: column;
        }
    }
}
