header {
    background: $primary;
    padding: 1rem;
}

main {
    max-width: 1000px;
    margin: auto;
    padding: 2rem;
}

footer {
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    background: lighten($primary, 15%);
}
